<div class="details-container">

    <h1 class="title">פרטי פתרון</h1>

    <div class="content-block">
       


        <p><span class="label">שם ספר:</span> {{ solutionToShow?.book?.bookName }}</p>

 <p><span class="label">שכבה:</span> {{ solutionToShow?.book?.grade}}</p>

        <p><span class="label">מספר עמוד:</span> {{ solutionToShow?.page }}</p>
                <p><span class="label">מספר תרגיל:</span> {{ solutionToShow?.exercise }}</p>


        <p><span class="label">מספר סעיף:</span> {{ solutionToShow?.section }}</p>

        <p><span class="label">מספר תת סעיף:</span> {{ solutionToShow?.subSection }}</p>

        <p class="long-text">
            <span class="label">תוכן:</span><br>
            {{ solutionToShow?.content }}
        </p>

        <div *ngIf ="solutionToShow?.image" class="image-wrapper">
            <span class="label"></span>
            <img [src]="'data:image/jpeg;base64,' + solutionToShow?.image" class="preview-image"
                (error)="onImageError($event)" />
        </div>

    </div>

    <button class="back-btn" (click)="goBack()">חזרה לרשימת הפתרונות</button>


    <!-- 🔷 הוספת תגובה -->
<div class="add-comment-box">
  <textarea [(ngModel)]="newCommentText" placeholder="הוספת תגובה..." rows="3"></textarea>

  <input type="number" min="1" max="10" [(ngModel)]="newRating" placeholder="דירוג (1-10)" />

  <button (click)="addComment()">💬 פרסם תגובה</button>
</div>


<!-- 🔷 רשימת תגובות -->
<div *ngFor="let c of comments" class="comment-card">

  <p class="user-name">{{ c.user.name }} :</p>
  <p class="comment-text">{{ c.commentText }}</p>
  <p class="rating">⭐ דירוג: {{ c.ratingValue }}/10</p>
  <p class="date">📅 {{ c.commentDate | date:"dd/MM/yy" }}</p>
</div>




