<div class="details-container">

    <h1 class="title">פרטי פתרון</h1>

    <div class="content-block">
       


        <p><span class="label">שם ספר:</span> {{ solutionToShow?.book?.bookName }}</p>

        <p><span class="label">מספר עמוד:</span> {{ solutionToShow?.page }}</p>
                <p><span class="label">מספר תרגיל:</span> {{ solutionToShow?.exercise }}</p>


        <p><span class="label">מספר סעיף:</span> {{ solutionToShow?.section }}</p>

        <p><span class="label">מספר תת סעיף:</span> {{ solutionToShow?.subSection }}</p>

        <p class="long-text">
            <span class="label">תוכן:</span><br>
            {{ solutionToShow?.content }}
        </p>

        <div *ngIf ="solutionToShow?.image" class="image-wrapper">
            <span class="label"></span>
            <img [src]="'data:image/jpeg;base64,' + solutionToShow?.image" class="preview-image"
                (error)="onImageError($event)" />
        </div>

    </div>

    <button class="back-btn" (click)="goBack()">חזרה לרשימת הפתרונות</button>