:host {
  display: block;
  direction: rtl;
  font-family: 'Heebo', sans-serif;
  background: #eef2ff; /* 专拽注 -专 注 */
  min-height: 100vh;
}

/*  转驻专 注 */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2px;
  background: #eef2ff;
 
  box-shadow: 0 3px 12px rgba(255, 255, 255, 0.1);
}

.logo {
  font-size: 28px;
  font-weight: 800;
  color: #1e3a8a;
}

/* 驻转专 转专转/专砖 */
.auth-buttons button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: .25s;
  font-weight: 600;
}

.login-btn {
  background: #cbd5ff; /* 专 专 */
  color: #1e3a8a;
}

.login-btn:hover {
  background: #b4c0ff;
}

.signup-btn {
  background: #2563eb;
  color: white;
}

.signup-btn:hover {
  background: #1d4ed8;
}

/*  专 转专转 专转 */
.hero {
  text-align: center;
  margin-top: 40px;
}

.hero h2 {
  color: #1e3a8a;
  font-size: 38px;
  font-weight: 900;
}

.hero p {
  font-size: 20px;
  color: #27304b;
  margin-top: 8px;
  margin-bottom: 15px;
}

/* 驻转专 转 */
.about-btn {
  padding: 6px 12px;
  background: linear-gradient(90deg, #1e40af, #3b82f6);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: .25s;
  font-weight: 600;
}

.about-btn:hover {
  background: linear-gradient(90deg, #3b82f6, #60a5fa);
  transform: translateY(-2px);
}

/*  专住 注 */
.features {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
  padding: 10px 10px;
  flex-wrap: wrap;
}

.feature-card {
  background: #ffffff;
  width: 280px;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  border-top: 5px solid #3b82f6; /* 驻住  驻 */
  box-shadow: 0 4px 14px rgba(0,0,0,0.12);
  transition: 0.2s;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.feature-card h3 {
  color: #1e3a8a;
  font-size: 22px;
}

.feature-card p {
  color: #374151;
  margin-top: 10px;
  font-size: 16px;
}

/*  拽驻住转 转 */
.about-box {
  margin: 50px auto 20px;
  max-width: 750px;
  background: #ffffff;
  padding: 35px 40px;
  border-radius: 16px;

  border-right: 6px solid #2563eb;
  box-shadow: 0 4px 18px rgba(0,0,0,0.12);

  text-align: center;
}

.about-box h3 {
  color: #1e3a8a;
  font-size: 24px;
  margin-bottom: 12px;
  font-weight: 800;
}

.about-box p {
  color: #374151;
  font-size: 18px;
  line-height: 1.9;
  font-weight: 500;
}
