form {
  width: 60%;
  margin: 30px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  direction: rtl;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

select,
input,
textarea {
  padding: 10px;
  border: 1px solid #cdd7e1;
  border-radius: 10px;
  font-size: 1rem;
  background: #f7f9fc;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

button {
  padding: 12px;
  width: 60%;
  margin: 0 auto;
  background-color: #2485f3;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  background-color: #1c6cd6;
}

/* תצוגת תוצאות */
.solution-card {
  width: 60%;
  margin: 20px auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
  direction: rtl;
}

.solution-card img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

h3 {
  text-align: center;
  margin-top: 30px;
}
