<div class="signin-container">
  <h2>התחברות</h2>

  <form #signinForm="ngForm" (ngSubmit)="onSignin(signinForm); formSubmitted=true">

    <!-- מייל -->
    <label>אימייל:</label>
    <input type="email" name="email" [(ngModel)]="email" required email #emailCtrl="ngModel">

    <p *ngIf="emailCtrl.invalid && (emailCtrl.touched || formSubmitted)" class="error">
      חובה להכניס אימייל תקין
    </p>

    <!-- סיסמה -->
    <label>סיסמה:</label>
    <input type="password" name="password" [(ngModel)]="password" required minlength="4" #passCtrl="ngModel">

    <p *ngIf="passCtrl.invalid && (passCtrl.touched || formSubmitted)" class="error">
      סיסמה חייבת להיות לפחות 4 תווים
    </p>

    <!-- ❗ הודעת שגיאה מהשרת -->
     
    <p *ngIf="loginError" class="error server">{{loginError}}</p>

    <button type="submit">
      התחבר
    </button>

  </form>
</div>
